body{
    background-color: #f2f7f7;
}


.carousel-indicators .active{
    background-color: black;
}

.fontIcon{
  top: 50%;
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 15px;
  }

.card-main img{

  width: 100%;

}