body{
    background-color: #E3E2DF;
    font-family: 'Catamaran';font-size: 22px;
}

.navbar{
    background-color: #5D001E;
}

.jumbotron{
    background-color: #E3AFBC;
}

.card{
    background-color: #E3AFBC;
}

.btn-dark{
    background-color: #5D001E;
}

.carousel-indicators .active{
    background-color: black;
}

.fontIcon{
  top: 50%;
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 15px;
  }

.card-main img{

  width: 100%;

}